<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a href="/schedule">Schedule</a>
    &nbsp;|&nbsp;
    <a href="/index">Index</a>
    &nbsp;|&nbsp;
    <a href="/stat">Statistics</a>
</div>
<h1 >form</h1>
<form th:action="@{/conf/add}" th:object="${conference}" method="POST" enctype="utf8">
    <div class="form-group">
        <label >name</label>
        <input type="text" th:field="*{name}"/>
    </div>
    <div class="form-group">
        <label >Theme</label>
        <input type="text" th:field="*{theme}"/>
    </div>
    <div class="form-group">
        <label >Date and Time (xxxx-xx-xx xx:xx:xx)</label>
        <input type="datetime-local" th:field="*{dateActive}"/>
    </div>
    <div class="form-group">
        <label >Description</label>
        <input type="text" th:field="*{body}"/>
    </div>


    <button type="submit" >submit</button>

</form>
</body>
</html>