<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<h1 >form</h1>
<form th:action="@{/register/add}" th:object="${user}" method="POST" enctype="utf8">
    <div class="form-group">
        <label >username</label>
        <input type="text" th:field="*{username}"/></p>
    </div>
    <div class="form-group">
        <label>password</label>
        <input type="password" th:field="*{password}"/>
    </div>
    <div class="form-group">
        <label >firstname</label>
        <input type="text" th:field="*{firstName}"/></p>
    </div>
    <div class="form-group">
        <label >lastname</label>
        <input type="text" th:field="*{lastName}"/></p>
    </div>
    <button type="submit" >submit</button>

</form>

<a th:href="@{/login}">login</a>
</body>
</html>