<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="30">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a href="/schedule">Schedule</a>
    &nbsp;|&nbsp;
    <a href="/index">Index</a>
    &nbsp;|&nbsp;
    <a href="/stat">Statistics</a>
</div>
<table border="1" class="table table-striped">
    <tr>
        <th scope="col">name</th>
        <th scope="col">theme</th>
        <th scope="col">Creator</th>
        <th scope="col">Time of beginning</th>
    </tr>

    <tr th:each="conf : ${conferences}"  scope="row">
        <td ><a th:href = "@{/conf/conference/{id}(id=${conf.confId})}"  th:text="${conf.name}"></a></td>
        <td   th:text="${conf.theme}"></td>
        <td   th:text="${conf.userId.username}"></td>
        <td   th:text="${conf.dateActive}"></td>
    </tr>

</table>

</body>
</html>